#define bg #272822
#define fg #f1ebeb

#include "/home/rachael/.config/xres/urxvt"

xterm*termName: xterm-256color

! special
*.foreground:   #c4deed
*.background:   #24516c
*.cursorColor:  #c4deed

! black
*.color0:       #705687
*.color8:       #b3a4c1

! red
*.color1:       #e64f77
*.color9:       #ffa5b7

! green
*.color2:       #4ba28b
*.color10:      #8cfac3

! yellow
*.color3:       #c18143
*.color11:      #f5e193

! blue
*.color4:       #198abe
*.color12:      #68e6fa

! magenta
*.color5:       #9563bf
*.color13:      #ebc4ff

! cyan
*.color6:       #1dad97
*.color14:      #7dfde7

! white
*.color7:       #a0ba9e
*.color15:      #d6ecd5

! special
! *.foreground:   #f8f8f8
! *.background:   #171717
! *.cursorColor:  #f8f8f8
!
! ! black
! *.color0:       #171717
! *.color8:       #38252c
!
! ! red
! *.color1:       #d81765
! *.color9:       #ff0000
!
! ! green
! *.color2:       #97d01a
! *.color10:      #76b639
!
! ! yellow
! *.color3:       #ffa800
! *.color11:      #e1a126
!
! ! blue
! *.color4:       #16b1fb
! *.color12:      #289cd5
!
! ! magenta
! *.color5:       #ff2491
! *.color13:      #ff2491
!
! ! cyan
! *.color6:       #0fdcb6
! *.color14:      #0a9b81
!
! ! white
! *.color7:       #ebebeb
! *.color15:      #f8f8f8
